#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  
    .image {
      width: 18rem;
      height: 240px;
      margin: 3px;
      padding: 2px;
      border-radius: 20px;
      @media (min-width: 425px) {
        width: 41.25rem;
        height: 350px;
        margin: 5px;
      }
    }
  }
  