* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}
html {
  font-size: 16px;
  main {
    position: relative;
  }
}

#header {
  margin-top: 20px;
  position: sticky;
  top: 0;
  z-index: 2;
  h1 {
    background-color: antiquewhite;
    font-weight: 500;
    margin-bottom: 0.25rem;
    text-align: center;
    animation: headerAnimation 2s ease-in-out 0s infinite;
  }

  @keyframes headerAnimation {
    0% {
      color: black;
    }
    50% {
      color: #011c37;
    }
    75% {
      color: #1a3046;
    }
    100% {
      color: #28313a;
    }
  }
}
